* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container {
    padding: 1.5rem;
    border: 1px dotted #c00;
}

input {
    background: #ccc;
    border: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
    border-radius: 0.25rem;
    margin: 0.25rem 0 0.5rem;
}

input:hover {
    background: #ddd;
}

input[type="button"] {
    cursor: pointer;
}

.output-container {
    display: inline-flex;
    gap: 0.5rem;
    border: 1px dotted #00c;
    padding: 0.5rem 1rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
